.settings_page_unsplash {

	.notice,
	div.error,
	div.updated {
		margin: 18px 18px 2px 0;
	}

	p.submit {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.notice-unsplash {
		padding: 12px;
		margin-left: 0;
	}

	form {
		max-width: 800px;
	}

	.unsplash-icon {
		height: 1.5em;
		padding-left: 0.3em;
		vertical-align: sub;
		width: 1.5em;
	}
}

.notice-unsplash-global {

	h3 {
		margin-top: 1em;
		margin-bottom: 0.3em;
	}

	p {
		margin-bottom: 1em;
	}
}
