language: php

services:
  - docker

install:
  - npm install
  - docker-compose up -d && sleep 10
  - composer global require --no-suggest --no-scripts --no-interaction --no-ansi nimut/phpunit-merger:0.3.2

script:
  - npm run lint
  - npm run docker -- npm run test:php:coverage

after_success:
  - COMPOSER_BIN_DIR=$HOME/.composer/vendor/bin npm run coverage:merge:php
  - DOCKER_BUILD_DIR=/var/www/html/wp-content/plugins/unsplash-wp
  - sudo find tests/reports -type f -exec sed -i "s#$DOCKER_BUILD_DIR#$TRAVIS_BUILD_DIR#g" {} \;
  - npm run coverage:php

jobs:
  include:
    # The nimut/phpunit-merger library isn't available for PHP 5.6 so merging of code coverage isn't available.
    # Because of this, the "install", "script" & "after_success" parts need to be overridden to not run code coverage.
    - php: "5.6"
      install:
        - npm install
        - docker-compose up -d && sleep 10
      script:
        - npm run lint
        - npm run docker -- npm run test:php
      after_success:
        - "true"
    - php: "7.4"

notifications:
  email: false

# Pull requests are built by default.
branches:
  only:
  - master

cache:
  npm: true
  directories:
    - $HOME/.composer/cache
