<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap-unit.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>

	<testsuites>
		<testsuite name="php-unit-tests">
			<directory suffix=".php">./tests/phpunit/unit/</directory>
			<exclude>./tests/phpunit/unit/TestCase.php</exclude>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./</directory>
			<exclude>
				<file>./unsplash.php</file>
				<directory suffix=".php">./data</directory>
				<directory suffix=".php">./node_modules</directory>
				<directory suffix=".php">./tests</directory>
				<directory suffix=".php">./vendor</directory>
				<directory suffix=".php">./package</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
