.wp-block-unsplash-image {
	position: relative;

	/* This resets the intrinsic margin on the figure in non-floated, wide, and full-wide alignments. */
	margin-left: 0;
	margin-right: 0;


	figcaption img {
		display: inline;
	}
}

/* This is necessary for the editor resize handles to accurately work on a non-floated, non-resized, small image. */
.wp-block-unsplash-image .components-resizable-box__container {
	display: inline-block;

	img {
		display: block;
		width: inherit;
		height: inherit;
	}
}

/* Ensure the resize handles are visible when the image is focused. */
.wp-block-unsplash-image.is-focused .components-resizable-box__handle {
	display: block;
}

.block-editor-block-list__block[data-type="unsplash/image"][data-align="center"] {

	.wp-block-unsplash-image {
		margin-left: auto;
		margin-right: auto;
	}

	&[data-resized="false"] .wp-block-unsplash-image > div {
		margin-left: auto;
		margin-right: auto;
	}
}

.block-editor-block-list__block[data-type="unsplash/image"] .block-editor-block-toolbar .block-editor-url-input__button-modal {
	position: absolute;
	left: 0;
	right: 0;
	margin: -$border-width 0;
}

[data-type="unsplash/image"][data-align="center"],
[data-type="unsplash/image"][data-align="left"],
[data-type="unsplash/image"][data-align="right"] {

	figure {
		margin: 0;
	}
}

[data-type="unsplash/image"][data-align="wide"],
[data-type="unsplash/image"][data-align="full"] {

	figure img {
		width: 100%;
	}
}

/* This is similar to above but for resized unfloated images only, where the markup is different. */
[data-type="unsplash/image"] figure.is-resized {
	margin: 0;
}
